body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #EEEEEE;
    text-align: center;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -2;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #57484898;
    opacity: 0.5;
    z-index: -1;
}

.container {
    max-width: 400px;
    margin: 60px auto;
    padding: 35px;
    background: #161212c5;
    border-radius: 15px;
    box-shadow: 4px 4px 15px #141414;
}

img {
    width: 100%;
    margin-bottom: 15px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin: 5px 0;
}

.artist {
    font-size: 22px;
    color: #d8d8d8;
}

.year {
    font-size: 19px;
    color: #868686;
}

.date {
    margin-top: 17px;
    font-size: 15px;
    color: #cc4444;
}

.suggestions {
    margin: 80px auto 50px;
    text-align: center;
}

.suggestions h2 {
    font-weight:bold;
    margin-bottom: 20px;
    color: #ffffffd8;
    text-shadow:
       1px 1px 0 black,
       0px 0px 0 black,
       1px -1px 0 black,
       0px 0px 0 black;
}

.suggestion-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.suggestion-form input {
    background:#ffffffa9;
    border: 1px solid #777777;
    padding: 6px 8px;
    color: #0e0e0e;
    font-size: 17px;
}

.suggestion-form input::placeholder {
    color: #444444;
}

.suggestion-form input:focus {
    outline: none;
    border-color: #cc4444;
}

.suggestion-form button {
    background: transparent;
    border: 1px solid #cc4444;
    color: #cc4444;
    padding: 6px 14px;
    font-size: 17px;
    cursor: pointer;
}

.suggestion-form button:hover {
    background: #cc4444;
    color: #ffffff;
}

.thank-you {
    margin-bottom: 10px;
    font-size: 18px;
    color: #ffc21c;
}