body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #EEEEEE;
    text-align: center;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -2;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #57484898;
    opacity: 0.5;
    z-index: -1;
}

.container {
    max-width: 400px;
    margin: 60px auto;
    padding: 35px;
    background: #161212c5;
    border-radius: 15px;
    box-shadow: 4px 4px 15px #141414;
}

img {
    width: 100%;
    margin-bottom: 15px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

h2 {
    font-size: 22px;
    margin: 5px 0;
}

.artist {
    font-size: 20px;
    color: #d8d8d8;
}

.year {
    font-size: 15px;
    color: #8d8d8d;
}

.date {
    margin-top: 17px;
    font-size: 12px;
    color: #8d8d8dd3;
}